a:link{
    color: #CD5C5C;
    text-decoration: underline;
}

a:visited{
    color: #DB7093;
    text-decoration: none;
}

a:hover{
    color: #6A5ACD;
    text-decoration: none;
}

a:active{
    color: #008080;
}

.jumbotron{
	background-color: #ff9999;
	text-align: center;
	color: #00334d;
}

.navigation li{
	list-style: none;
	margin: 0;
	padding: 5px;
	display: inline;
	font-weight: bold;
	font-size: 15px;
}

header{
	font-family: Arial, serif;
	font-size: 	40px;
	font-weight: bold;
	letter-spacing: 1px;
}

/*.container{
	?????
*/}

#headerP{
	font-size: 18px;
	font-family: Arial, serif;
	letter-spacing: 2px;
	font-weight: bold;
}

#foodQuote{}

#sewQuote{}

#fishQuote{
	font-size: 18px;
}

/*#miniWall{
	float: right;
	padding: 5px;
	height: 50px;
	width: auto;
}*/

h1{
    color: #CD5C5C;
    font-weight: bold;
    letter-spacing: 2px;
}

h3{
	font-weight: bold;
	letter-spacing: 1px;
	color: #4d4d4d;
}

.row{
	display: table-row;
}

.cell{
	display: table-cell;
	border: none;
	padding: 8px;
}

.imgSize{
	height: 45%;
	width: auto;
}

.check{
	text-align: center;
}

table, th, td{
	border: 1px solid black;
}

th{
	padding: 15px;
	text-align: center;
}